 /**
 * Autor: lcnato - BV 3044297
 * data implementação: 15 / 05 / 2025
 *  Página de Estilização do Livros
 * 
 */ 

:root {
  --cor-primaria: #CE8054;
  --cor-secundaria: #B35340;
  --cor-terciaria: #6F3637;
  --cor-azul: #233342;
  --cor-vinho: #4B2B31;

  --texto-claro: #f8f9fa;
  --fundo-suave: #fdfaf9;
  --fundo-medio: #fbe6e0;
  --fundo-escuro: #f4c2b5;
}

body {
  background-color: var(--fundo-suave);
  color: var(--cor-azul);
}

.bg-primary {
  background-color: var(--cor-azul) !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: var(--texto-claro) !important;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--cor-primaria) !important;
  font-weight: bold;
}

/* Botões */
.btn-primary {
  background-color: var(--cor-primaria) !important;
  border-color: var(--cor-secundaria) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--cor-secundaria) !important;
  color: white !important;
}

.btn-success {
  background-color: var(--cor-terciaria) !important;
  border: none !important;
}

.btn-success:hover {
  background-color: var(--cor-secundaria) !important;
}

.btn-editar {
  background-color: #c47f5a; /* tom terroso alaranjado */
  border: none;
  color: #fff;
}

.btn-excluir {
  background-color: #a33434; /* vermelho queimado */
  border: none;
  color: #fff;
}

.btn-editar:hover {
  background-color: #a56442;
}

.btn-excluir:hover {
  background-color: #8c2a2a;
}

/*Tabelas*/
.tabelas-livros th,
.tabelas-livros td {
  border: 1px solid rgb(48, 48, 48) !important;
  padding: 10px;
  color: var(--texto-claro);
  vertical-align: middle;
  text-align: center;
}

.tabelas-livros td {
    color: black
}

.tabelas-livros th {    
    background-color: #233342;
}
.tabelas-livros {
    width: 100%;
}

.tabelas-livros tbody tr:nth-child(odd) {
    background-color: var(--fundo-medio);
}
.tabelas-livros tbody tr:nth-child(even) {
    background-color: var(--fundo-escuro);
}


/* Campos */
.input-group-text.bg-primary {
  background-color: var(--cor-terciaria) !important;
  color: white !important;
}

/* Modal */
.modal-header {
  background-color: var(--cor-vinho);
  color: white;
}

.modal-footer {
  background-color: #f4f1f0;
}

/* PopUp SweetAlert*/
.meu-popup {
  background-color: var(--fundo-suave);
  color: var(--cor-azul);
  font-family: 'Segoe UI', sans-serif;
}

.meu-botao-confirmar {
  background-color: var(--cor-primaria) !important;
  color: white;
}

.meu-botao-cancelar {
  background-color: var(--cor-vinho) !important;
  color: white;
}

/* Rodapé */
footer.bg-dark {
  background-color: var(--cor-azul) !important;
  color: white;
}